<div class="card-container">
    <div class="first-part">
        <img src={{avatar}} alt="">
        <span>
            <h1 class="manrope bold">{{serviceTitle}}</h1>
            <p class="manrope regular">₹{{servicePrice}}</p>
        </span>
    </div>
    <div class="second-part">
        <!-- <span><fa-icon [icon]="homeIcon"></fa-icon>
            <p class="manrope regular">TVM</p>
        </span> -->
        <span><fa-icon [icon]="locationIcon"></fa-icon>
            <p class="manrope regular">{{serviceLocation}}</p>
        </span>
        <span><fa-icon [icon]="saveIcon"></fa-icon>
            <p class="manrope regular">{{serviceCategory}}</p>
        </span>
    </div>
</div>