<div class="card-container">
    <div class="first-part">
        <img src={{avatar}} alt="">
        <span>
            <h1 class="manrope bold">Plumber</h1>
            <p class="manrope regular">₹800-₹900</p>
        </span>
    </div>
    <div class="second-part">
        <span><fa-icon [icon]="homeIcon"></fa-icon>
            <p class="manrope regular">TVM</p>
        </span>
        <span><fa-icon [icon]="locationIcon"></fa-icon>
            <p class="manrope regular">TVM</p>
        </span>
        <span><fa-icon [icon]="saveIcon"></fa-icon>
            <p class="manrope regular">Onsite</p>
        </span>
    </div>
</div>