<section>
    <div>
        <div class="left">
            <h1>Sign In</h1>
            <form  (ngSubmit)="handleSubmit()" [formGroup]="loginForm">
                <label for="email">Email</label>
                <input type="email" formControlName="email" name="email" id="email" placeholder="example.email@gmail.com">
                <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                    <p *ngIf="loginForm.controls['email'].errors?.['required']" style="color: red;">Email is required</p>
                    <p *ngIf="loginForm.controls['email'].errors?.['email']" style="color: red;">You should enter an email</p>
                </div>
                <label for="password">Password</label>
                <input type="password" formControlName="password" name="password" id="password" minlength="8" placeholder="Enter at least 8+ characters ">
                <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                    <p *ngIf="loginForm.controls['password'].errors?.['required']" style="color: red;">Password is required</p>
                    <p *ngIf="loginForm.controls['password'].errors?.['minlength']" style="color: red;">Length should be atleast 8</p>
                </div>
                <div style="display: flex;justify-content: space-between;margin: 10px 0;">
                    <!-- <div class="remember-div">
                        <input type="checkbox" name="remember" id="remember">
                        <label for="remember">Remember Me</label>
                    </div> -->
                    <a routerLink="/signup">Don't have an account? Sign Up</a>
                </div>
                <button [disabled]="!loginForm.valid">Sign in</button>
            </form>
        </div>
        <div class="right">
            <img src={{loginImg}} alt="">
        </div>
    </div>
</section>