<header>
    <div>
        <div class="left">
            <h1 class="lexend-bold" style="color: #6D31ED;">16,780 Services</h1>
            <h1 class="lexend-bold">For You</h1>
            <p class="manrope-regular">Non enim eu excepteur cupidatat consectetur do ea est reprehenderit incididunt irure veniam cupidatat est non amet. Enim duis aute tempor laboris ipsum dolore non.</p>
            <button class="manrope-regular" routerLink="services">Explore now</button>
        </div>
        <div class="right">
            <img src={{headerImg}} alt="">
        </div>
    </div>
</header>
