<header>
    <div>
        <div class="left">
            @if(serviceCount==0){
                <h1 class="lexend-bold" style="color: #6D31ED;">Amazing Services</h1>
            }@else {
                <h1 class="lexend-bold" style="color: #6D31ED;">{{serviceCount}} Services</h1>
            }
            <h1 class="lexend-bold">For You</h1>
            <p class="manrope-regular">Looking for top-notch services tailored just for you? Whether you need a quick fix or a helping hand, we've got the pros to get the job done right. Discover trusted experts ready to make your life easier. Book now and experience quality at your doorstep!</p>
            <button class="manrope-regular" routerLink="services">Explore now</button>
        </div>
        <div class="right">
            <img src={{headerImg}} alt="">
        </div>
    </div>
</header>
