<main>
    <h1>Search Service Providers</h1>
    <!-- <div class="filters">
        <div class="search">
            <h2>Search</h2>
            <input type="text" name="search" id="search">
        </div>
        <div class="filter">
            <span>
                <h2>Filters</h2>
                <p>Clear filter</p>
            </span>
            <div>
                <select name="location" id="location">
                    <option value="">Location</option>
                </select>
                <select name="servicetype" id="servicetype">
                    <option value="">Service Type</option>
                </select>
                <select name="exp" id="exp">
                    <option value="">Experience Level</option>
                </select>
                <select name="company" id="company">
                    <option value="">Company Type</option>
                </select>
            </div>
        </div>
    </div> -->
    <h2 class="manrope bold">{{serviceProviders.length}} Service Providers</h2>
    <div class="service-cards">
        <app-provider-card 
        *ngFor="let providers of serviceProviders" 
        [providerName] = "providers.username??''">
        </app-provider-card>
    </div>
</main>