main{
    padding: 10px;
}
.card-detail-container{
    display: flex;
    gap: 30px;
    height: auto;
}
.service-cards{
    width: 30vw;
}
.filters{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
/* .filter{
    width: 100%;
} */
.filter span h2{
    display: inline-block;
}
.filter span p{
    color: #6D31ED;
    cursor: pointer;
}
main > h2{
    font-size: 16px;
}
.filter > span{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    padding: 10px;
    border: none;
    outline: none;
    background-color: #F3F4F6;
    margin: 0 5px;
    border-radius: 5px;
    width: 30vw;
}
.filter select{
    padding: 10px;
    border: none;
    outline: none;
    background-color: #F3F4F6;
    margin: 0 5px;
    border-radius: 5px;
}
.service-detail{
    width: 60%;
    border: 1px solid #F3F4F6;
    border-radius: 5px;
    position: relative;
}
.service-detail > img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
button{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.btn-solid{
    background-color: #6D31ED;
    color: #fff;
}
.btn-transparent{
    background-color: #F5F1FE;
    color: #6D31ED;
}

.contact-provider{
    padding: 10px;
    margin: 10px;
    border: 1px solid #F5F1FE;
    border-radius: 5px;
    max-width: 100%;
}
.contact-provider h1,p{
    font-size: 16px;
}
.contact-provider img{
    background-color: bisque;
    height: 50px;
    border-radius: 50%;
}
.contact-provider>h1{
    margin: 10px;
}
.contact-provider>div{
 margin: 10px;
 display: flex;
 gap: 20px;
}
.contact-provider button{
    margin-left: auto;
}

.heading-section{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.heading-section> div{
    display: flex;
    justify-content: space-between;
}

/* Message Modal */
.message-modal-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F4F6;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #F5F1FE;
    width: 50%;
    height: 50%;
}
.modal-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}