<main>
    <h1>Search Jobs</h1>
    <div class="filters">
        <div class="search">
            <h2>Search</h2>
            <input (input)="searchData()" type="text" name="search" id="search" [(ngModel)]="searchKey">
        </div>
        <div class="filter">
            <span>
                <h2>Filters</h2>
                <p (click)="clearFilter()">Clear filter</p>
            </span>
            <div>
                <select name="location" id="location" [(ngModel)]="filterData.location" (change)="searchData()">
                    <option value="">Location</option>
                    <option *ngFor="let location of getUniqueLocations()" [value]="location">{{location}}</option>
                </select>

                <select name="servicetype" id="servicetype" [(ngModel)]="filterData.category" (change)="searchData()">
                    <option value="">Service Type</option>
                    <option *ngFor="let category of getUniqueCategories()" [value]="category">{{category}}</option>
                </select>
            </div>
        </div>
    </div>
    <h2 class="manrope bold">{{tempServices.length}} Results found</h2>
    <div class="card-detail-container">
        <div class="service-cards" >
            <app-card [serviceLocation]="service.location" *ngFor="let service of tempServices;index as i" [serviceTitle]="service.name" [servicePrice]="service.price" (click)="changeDetailService(service.id)" [serviceCategory]="service.category"></app-card>
        </div>
        <div *ngIf="clickedService!=null" class="service-detail">
            <img src={{serviceDetailImage}} alt="">
            <div>
                <div>
                    <h1>{{clickedService.name}}</h1>
                    <!-- <p>...</p> -->
                    <!-- <button class="btn-transparent">Save</button> -->
                    <button style="padding: 10px;" class="btn-solid" (click)="bookService(clickedService.id,clickedService.name,clickedService.price)">Book Now</button>
                </div>
                <h2>₹{{clickedService.price}}</h2>
                <span>
                    <!-- <fa-icon></fa-icon> -->
                    <!-- <p>Laborum</p> -->
                    <!-- <p> | </p> -->
                    <!-- <fa-icon></fa-icon> -->
                    <p>{{clickedService.location}}</p>
                </span>
                <span>
                    <!-- <p>5 Year Experience</p> -->
                    <!-- <p>Contract based</p> -->
                    <p>{{clickedService.category}}</p>
                </span>
            </div>
            <div class="contact-provider">
                <h1 class="manrope bold">Contact Provider</h1>
                <div>
                    <img src={{avatar}} alt="">
                    <div>
                        <h1 class="manrope bold">{{serviceProvider?.username}}</h1>
                        <p class="manrope regular">{{serviceProvider?.location}}</p>
                    </div>
                    <button class="btn-transparent"><fa-icon [icon]="messageIcon"></fa-icon> Message</button>
                </div>
            </div>
            <!-- <div>
                <h1>Service Description</h1>
                <p>{{clickedService.description}}
                </p>
                <h1>Service Includes</h1>
                <ul>
                    <li>Pipe Repair and Replacement</li>
                    <li>Drainage System Inspection and Cleaning</li>
                    <li>Fixture Installation and Repair</li>
                </ul>
            </div> -->
        </div>
    </div>
</main>