<section>
    <span><h1 style="color: black;">Top </h1><h1>Service Providers</h1></span>
    <p>Exercitation dolore reprehenderit fugi</p>
    <div class="card-slider">
        <div class="job-card">
            <img src={{jobImage}} alt="">
            <h2>Jennifer Harris</h2>
            <p>₹800-₹900</p>
            <div>
                <p class="review-count-p">10 Reviews</p>
                <p> | </p>
                <p>New York</p>
            </div>
        </div>
        <div class="job-card">
            <img src={{jobImage}} alt="">
            <h2>Jennifer Harris</h2>
            <p>₹800-₹900</p>
            <div>
                <p class="review-count-p">10 Reviews</p>
                <p> | </p>
                <p>New York</p>
            </div>
        </div>
        <div class="job-card">
            <img src={{jobImage}} alt="">
            <h2>Jennifer Harris</h2>
            <p>₹800-₹900</p>
            <div>
                <p class="review-count-p">10 Reviews</p>
                <p> | </p>
                <p>New York</p>
            </div>
        </div>
        <div class="job-card">
            <img src={{jobImage}} alt="">
            <h2>Jennifer Harris</h2>
            <p>₹800-₹900</p>
            <div>
                <p class="review-count-p">10 Reviews</p>
                <p> | </p>
                <p>New York</p>
            </div>
        </div>
    </div>
    <button>See more</button>
</section>

