<section>
    <div>
        <div class="left">
            <h1>Create an account</h1>
            <form  (ngSubmit)="handleSubmit()">
                <label for="fname">First Name</label>
                <input type="text" name="fname" id="fname" [(ngModel)]="registerData.firstName" required>
                <label for="lname">Last Name</label>
                <input type="text" name="lname" id="lname" [(ngModel)]="registerData.lastName" required>
                <label for="phno">Phone No</label>
                <input type="number" name="phno" id="phno" [(ngModel)]="registerData.phoneNo" required #phoneNo = "ngModel" maxlength="10">
                <div *ngIf="phoneNo.invalid && phoneNo.touched" class="alert alert-danger">
                    <div *ngIf="phoneNo.errors?.['required']">PhoneNo is required.</div>
                    <div *ngIf="phoneNo.errors?.['maxength']">Invalid PhoneNo</div>
                </div>
                <label for="role">Role</label>
                <input type="text" name="role" id="role" [(ngModel)]="registerData.role" required >
              
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="example.email@gmail.com" [(ngModel)]="registerData.email" required email #email="ngModel">
                <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
                    <div *ngIf="email.errors?.['required']">Email is required.</div>
                    <div *ngIf="email.errors?.['email']">Invalid email format.</div>
                </div>
                
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter at least 8+ characters " [(ngModel)]="registerData.password" required>
                <label for="cpassword">Confirm Password</label>
                
                <input type="password" name="cpassword" id="cpassword" placeholder="Enter at least 8+ characters "[(ngModel)]="confirmPassword" required>
                <a href="" style="margin: 10px 0;">Already have an account? Login</a>
                <button>Sign Up</button>
            </form>
        </div>
        <div class="right">
            <img src={{loginImg}} alt="">
        </div>
    </div>
</section>
