.profile-card{
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
}
.section{
    border-bottom: 1px solid black;
    padding: 10px;
}
img{
    background-color: #ef8989;
    border-radius: 50%;
    height: 50px;
    margin-right: 10px;
}
.details{
    display: flex;
}
h1{
    font-size: 16px;
}
p{
    font-size: 13px;
}