<div class="profile-card">
    <div class="section details">
        <img [src]="avatar" alt="Profile Picture">
        <div class="info">
            <h1 class="lexend bold">{{user?.firstName}} {{user?.lastName}}</h1>
            <p class="manrope regular">{{user?.email}}</p>
        </div>
    </div>

    <div style="cursor: pointer;" class="section actions" *ngIf="user?.role === 'USER'">
            <p routerLink="/edit-profile">Edit Profile</p>
        </div>
        
        <div class="section actions" *ngIf="user?.role === 'SERVICE_PROVIDER'">
        <p routerLink="/edit-profile">Edit Basic Profile</p>
    </div>
    
    <div class="section actions" *ngIf="user?.role === 'SERVICE_PROVIDER'">
        <p routerLink="/service-provider-profile">Edit Extended Profile</p>
    </div>

    <div (click)="logOut()" class="section logout">
        <p>Sign Out</p>
    </div>
</div>
