<!-- <div class="profile-card">
    <div class="section details">
        <img src={{avatar}} alt="">
        <span>
            <h1 class="lexend bold">{{user?.firstName}} {{user?.lastName}}</h1>
            <p class="manrope regular">{{user?.email}}</p>
        </span>
    </div>
    <div style="cursor: pointer;" class="section">
        @if (user?.role=="USER") {
            <p routerLink="/edit-profile">Edit Profile</p>
        }@else {
            <p routerLink="/edit-profile">Edit Basic Profile</p>
            <p routerLink="/service-provider-profile">Edit Extended Profile</p>
            <p routerLink="/order-page-provider">View All Orders</p>
        }
    </div>
    <div (click)="logOut()" style="cursor: pointer;" class="section">
        <p>Sign Out</p>
    </div>
</div> -->

<div class="profile-card">
    <div class="section details">
        <img [src]="avatar" alt="Profile Picture">
        <div class="info">
            <h1 class="lexend bold">{{user?.firstName}} {{user?.lastName}}</h1>
            <p class="manrope regular">{{user?.email}}</p>
        </div>
    </div>

    <div style="cursor: pointer;" class="section actions">
        <ng-container *ngIf="user?.role === 'USER'; else adminActions">
            <p routerLink="/edit-profile">Edit Profile</p>
        </ng-container>
        <ng-template #adminActions>
            <p routerLink="/edit-profile">Edit Basic Profile</p>
            <p routerLink="/service-provider-profile">Edit Extended Profile</p>
            <p routerLink="/order-page-provider">View All Orders</p>
        </ng-template>
    </div>
   <div class="section actions">
     <p routerLink="/order-page-user">View Orders</p>
   </div>

    <div (click)="logOut()" class="section logout">
        <p>Sign Out</p>
    </div>
</div>
