<section>
    <h1>Latest Jobs</h1>
    <p>Exercitation dolore reprehenderit fugi</p>
    <div class="card-slider">
        <div class="job-card">
            <div class="first">
                <img src={{jobImage}} alt="">
                <div>
                    <p>Plumber</p>
                    <p>₹800-₹900</p>
                </div>
            </div>
            <div class="second">
                <span><fa-icon [icon]="homeIcon"></fa-icon><p>TVM</p></span>
                <span><fa-icon [icon]="locationIcon"></fa-icon><p>TVM</p></span>
                <span><fa-icon [icon]="saveIcon"></fa-icon><p>Onsite</p></span>
            </div>
        </div>
        <div class="job-card">
            <div class="first">
                <img src={{jobImage}} alt="">
                <div>
                    <p>Plumber</p>
                    <p>₹800-₹900</p>
                </div>
            </div>
            <div class="second">
                <span><fa-icon [icon]="homeIcon"></fa-icon><p>TVM</p></span>
                <span><fa-icon [icon]="locationIcon"></fa-icon><p>TVM</p></span>
                <span><fa-icon [icon]="saveIcon"></fa-icon><p>Onsite</p></span>
            </div>
        </div>
        <div class="job-card">
            <div class="first">
                <img src={{jobImage}} alt="">
                <div>
                    <p>Plumber</p>
                    <p>₹800-₹900</p>
                </div>
            </div>
            <div class="second">
                <span><fa-icon [icon]="homeIcon"></fa-icon><p>TVM</p></span>
                <span><fa-icon [icon]="locationIcon"></fa-icon><p>TVM</p></span>
                <span><fa-icon [icon]="saveIcon"></fa-icon><p>Onsite</p></span>
            </div>
        </div>
        <div class="job-card">
            <div class="first">
                <img src={{jobImage}} alt="">
                <div>
                    <p>Plumber</p>
                    <p>₹800-₹900</p>
                </div>
            </div>
            <div class="second">
                <span><fa-icon [icon]="homeIcon"></fa-icon><p>TVM</p></span>
                <span><fa-icon [icon]="locationIcon"></fa-icon><p>TVM</p></span>
                <span><fa-icon [icon]="saveIcon"></fa-icon><p>Onsite</p></span>
            </div>
        </div>
        <div class="job-card">
            <div class="first">
                <img src={{jobImage}} alt="">
                <div>
                    <p>Plumber</p>
                    <p>₹800-₹900</p>
                </div>
            </div>
            <div class="second">
                <span><fa-icon [icon]="homeIcon"></fa-icon><p>TVM</p></span>
                <span><fa-icon [icon]="locationIcon"></fa-icon><p>TVM</p></span>
                <span><fa-icon [icon]="saveIcon"></fa-icon><p>Onsite</p></span>
            </div>
        </div>
        <div class="job-card">
            <div class="first">
                <img src={{jobImage}} alt="">
                <div>
                    <p>Plumber</p>
                    <p>₹800-₹900</p>
                </div>
            </div>
            <div class="second">
                <span><fa-icon [icon]="homeIcon"></fa-icon><p>TVM</p></span>
                <span><fa-icon [icon]="locationIcon"></fa-icon><p>TVM</p></span>
                <span><fa-icon [icon]="saveIcon"></fa-icon><p>Onsite</p></span>
            </div>
        </div>
    </div>
    <button>See more</button>
</section>
