<div class="notifications-container" *ngIf="showModal">
    <div class="notifications-title">
        <h1>Notifications</h1>
        <fa-icon [icon]="closeIcon" size="xl" (click)="closeModal()"></fa-icon>
    </div>
    @if(notifications.length>0){
        <div class="notification" *ngFor="let notification of notifications">
            <h2>{{notification.message}}</h2>
            <p>{{notification.createdAt}}</p>
        </div>
    }@else {
        <div class="notification">
            <h2>It's Empty here🥲No new notifications</h2>
        </div>
    }
</div>
