<div class="card-contianer">
    <img src={{avatar}} alt="">
    <div class="card-body">
        <h1 class="lexend bold">{{providerName}}</h1>
        <span class="manrope regular">New York | UI Designer at Amet Company</span>
        <div class="tags">
            <p class="manrope regular">UX Research</p>
            <p class="manrope regular">UI Design</p>
            <p class="manrope regular">Web Design</p>
        </div>
    </div>
    <div>
        <button class="btn-transparent">View Profile</button>
        <button class="btn-solid">Contact</button>
    </div>
</div>
