<div class="card-contianer">
    <img src={{avatar}} alt="">
    <div class="card-body">
        <h1 class="lexend bold">{{providerName}}</h1>
        <span class="manrope regular">{{location}} | {{occupation}}</span>
        <div class="tags">
            <p class="manrope regular"  *ngFor="let skill of skillsArray">{{skill}}</p>
        </div>
    </div>
    <div>
        <!-- <button class="btn-transparent">View Profile</button> -->
        <!-- <button class="btn-solid">Contact</button> -->
    </div>
</div>
