/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.manrope-regular,p,li{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.manrope{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
}
.lexend{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.bold{
    font-weight: 700;
}
.regular{
    font-weight: 400;
}
.lexend-bold,h1{
    font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.alert {
    position: relative;
    
    margin-bottom: 1rem;
 
  }
  .alert-danger {
    color: #ff0015;
    
    
  }
  